@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Julius+Sans+One&family=Baloo+Tamma+2&family=Poiret+One&display=swap');

body {
  font-family: 'Baloo Tamma 2';
  margin: 0;
  padding: 0;
  background:#FFD393;
}

