.hero-head {
  align-content: center;
  position: static;
  background-color: #fff1de;
  color: #2b201d;
}

.header-bottom {
  padding: 0.6rem;
  width: 100%;
  border-top: 6px solid #2b201d;
  background-color: #41a960;
}
/* extends the color of the navbar for when the mobile version is displayed and burger clicked to expand. */

img {
  margin-left: 20px;
  padding-bottom: 1%;
  padding-top: 1%;
}
