/* css for the main react divs  */
.body-div{
  padding-left: 30px;
  padding-right: 30px;
  background-color:#FFD393;
  padding-top: 120px;
  width:100%;
  margin: auto;
  
}

/* css for the main html tag in app.js */
main {
  font-family: 'JetBrains Mono', monospace;
  background-color: #FFD393;
  color: #2D201C;
  height: 100%;
} 