/* css for the main react divs  */
.body-div{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 145px;
  padding-bottom: 120px;
  width:100%;
  margin: auto;
  
}

/* css for the main html tag in app.js */
main {
  font-family: 'JetBrains Mono', monospace;
  color: #2D201C;
  height: 100%;
} 