/* css for the main react divs  */
.body-div {
  padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 145px; */
  padding-bottom: 120px;
  width: 100%;
  margin: auto;
  background-color: #fff1de;
}

/* css for the main html tag in app.js */
main {
  color: #2d201c;
  height: 100%;
}
#portfolio-text {
  text-align: left;
  padding-bottom: 1%;
}
p {
  padding-top: 1%;
}
h1 {
  font-weight: bold;
}

#bio {
  padding-top: 7%;
}
